name: Lint

on:
  pull_request:
    branches:
      - '*'

jobs:
  swiftlint:
    name: SwiftLint
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install SwiftLint
      run: brew install swiftlint

    - name: Run SwiftLint
      run: swiftlint lint --strict

  actionlint:
    name: Workflow Lint
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
    - uses: actions/checkout@v4

    - name: Download actionlint
      id: get_actionlint
      run: bash <(curl https://raw.githubusercontent.com/rhysd/actionlint/main/scripts/download-actionlint.bash)
      shell: bash

    - name: Register problem matcher
      run: echo "::add-matcher::.github/actionlint-matcher.json"

    - name: Run actionlint
      run: ${{ steps.get_actionlint.outputs.executable }} -color
      shell: bash
